@font-face {
  font-family: Augestina;
  src: url(../assets/fonts/Agustina.otf);
}
body {
  /* background: black !important; */
}
#nav-title {
  font-family: Augestina;
  text-transform: capitalize;
}
.pos {
  font-family: Augestina;
  text-transform: capitalize;
  font-size: 24px;
}
.pos:hover {
  color: red;
}
